body {
  background: #81b3d2;

  /* Временный цвет текста */
  color: #000000;
}

.section-filter {
  background: url("../img/section-filter_bg.jpg") center no-repeat;
}


.footer {
  background: #ffffff url("../img/index-footer_bg.png") center no-repeat;
}
